.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--border);
  background: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.header-left {
  display: flex;
  align-items: center;
  grid-gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}

.logo-icon {
  width: 30px;
  aspect-ratio: 1;
}

.logo-text {
  font-size: 24px;
  font-weight: 500;
}

.list-items {
  display: flex;
  /* grid-gap: 0.5rem; */
}

.list-items-item {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  color: var(--faded);
  padding: 8px 12px;
  border-radius: 9999px;
  transition: 0.3s ease;
  cursor: pointer;
}

.list-items-item:hover {
  background: var(--lighter);
}

.list-items-item i {
  transition: 0.3s ease;
}

.list-items-item:hover i {
  transform: rotate(180deg);
}

/* dropdown */

.header-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background: var(--light);
  border-radius: 10px;
  border: 1px solid var(--border);
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100px;
  right: 0;
  top: 100%;
  display: none;
}

.header-dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu .list-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.dropdown-menu .list-items-item {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
}

.toggler {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  display: none;
  border: 1px solid var(--border);
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.toggler i {
  font-size: 18px;
  color: var(--faded);
}

/* sidebar mobile */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 256px;
  background: var(--bg-ambient);
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s ease;
  transform: translateX(-100%);
  border-radius: 0 1rem 1rem 0;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 2rem;
  width: 100%;
}

.sidebar-list-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 8px;
  font-size: 1rem;
}

.sidebar-list-link {
  width: 100%;
}

.sidebar-list-link i {
  width: 40px;
}

.sidebar-list-item:hover {
  background: var(--lighter);
}

.sidebar .btn {
  align-self: center;
  margin-top: 3rem;
}

/* bottom bar */
.bottom-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  background: var(--light);
  border-radius: 10px;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
  background: var(--bg-ambient);
  backdrop-filter: blur(10px);
  height: 56px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bottom-bar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.b-selected .bottom-bar-list-link {
  color: var(--primary);
}

.b-selected .bottom-bar-list-link i {
  color: var(--primary);
}

.bottom-bar-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 0.5rem;
  flex: 1;
  height: 100%;
}

.bottom-bar-list-link {
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 820px) {
  .list-items {
    display: none;
  }
  .header .login-register {
    display: none;
  }
  .toggler {
    display: flex;
  }
}

@media (max-width: 520px) {
  .header .login-btn {
    display: none;
  }
}
