.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--light);
  border: 1px solid var(--border);
  border-radius: 10px;
  min-width: 300px;
}

.popup-upper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  grid-gap: 1rem;
}

.popup-title {
  font-size: 24px;
  font-weight: 500;
}

.popup-message {
  font-size: 16px;
  font-weight: 300;
}

.popup-btns {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  grid-gap: 1rem;
}

.popup-btns .btn {
  flex: 1;
}

.popup .divider-horizontal {
  margin: 0;
}

/* snackbar */

.snackbar {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  /* transform: translateX(-50%); */
  background: var(--light);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  grid-gap: 1rem;
  min-width: 300px;
  overflow: hidden;
  animation: Popdown 5s ease-in-out;
  transform: translateY(100%);
}

@keyframes Popdown {
  0% {
    transform: translateY(100%);
  }
  5% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(1000%);
  }
}

.snackbar-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.snackbar-title {
  font-size: 16px;
  font-weight: 500;
}

.snackbar-message {
  font-size: 14px;
  font-weight: 300;
  color: var(--faded);
}

.snackbar-progress {
  width: 100%;
  height: 5px;
  background: var(--lighter-2);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  transform: translateX(-5%);
}

.snackbar-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--primary);
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    var(--danger-light) 0%,
    var(--danger) 100%
  );
  width: 100%;
  animation: snackbar-progress 5s linear;
}

@keyframes snackbar-progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.error {
  border: 1px solid var(--danger-light);
}

.error i {
  color: var(--danger);
}

.error .snackbar-progress-bar {
  background: linear-gradient(
    90deg,
    var(--danger-light) 0%,
    var(--danger) 100%
  );
}

.success {
  border: 1px solid var(--success-light);
}

.success i {
  color: var(--success);
}

.success .snackbar-progress-bar {
  background: linear-gradient(
    90deg,
    var(--success-light) 0%,
    var(--success) 100%
  );
}
